/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */

.TradingPlansBody{
  width: 100%;
  height: max-content;
  padding: 0px 20px;
}
.TradingPlansBody h1{
  font-size: 28px;
  font-weight: 400;
  line-height: 36.4px;
  color: #fff;
}

.TradingPlansContent{
  width: 100%;
  height: max-content;
  padding: 50px 25px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 5px;
}

.TradingPlansLeft{
  width: 65%;
  height: max-content;
  border: 1px solid #d4e5eb;
  border-radius: 5px;
  box-shadow: rgba(182, 205, 210, 0.2) 0px 2px 8px 0px;
  padding: 25px;
}

.TradingPlansLeftBoxA{
  width: 100%;
  height: max-content;
  position: relative;
  transition: display 2s ease-in-out;
}

.TradingPlansLeftBoxAMain{
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  transition: display 2s ease-in-out;
}
.TradingPlansLeftBoxAMain h3{
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: rgb(132, 146, 166);
}
.TradingPlansLeftBoxAMain p{
  transition: 0.4s;
}
.TradingPlansLeftBoxAMain .Angle.active{
  transform: rotate(-180deg);
}

.TradingPlansLeftBoxADrop{
  display: none;
  width: 100%;
  height: max-content;
  margin-top: 10px;
  transition: all 2s ease-in-out;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.TradingPlansLeftBoxADrop.active{
  display: block;
  width: 100%;
  height: max-content;
  margin-top: 10px;
  transition: all 2s ease-in-out;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  padding: 10px;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.TradingPlansLeftBoxADropItem{
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 15px;
}
.TradingPlansLeftBoxADropItem h3{
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: rgb(51, 51, 51);
}
.TradingPlansLeftBoxADropItem h3 span{
  color: rgb(132, 146, 166);
}
.TradingPlansLeftBoxADropItem:hover{
  background: rgb(233, 233, 233);
}

.TradingPlansLeftBoxB{
  width: 100%;
  height: max-content;
  margin-top: 60px;

}
.TradingPlansLeftBoxB p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(132, 146, 166);
}

.TradingPlansLeftBoxBItem{
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.TradingPlansLeftBoxBItem .TradingPlansLeftBoxBAmount{
  padding: 10px 30px;
  background: #ebf8fc;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(39, 52, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.TradingPlansLeftBoxBItem .TradingPlansLeftBoxBAmount:hover{
  background: #8492a6;
}

.TradingPlansLeftBoxC{
  width: 100%;
  height: max-content;
  margin-top: 40px;
}
.TradingPlansLeftBoxC p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(132, 146, 166);
}

.TradingPlansLeftBoxC input{
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px; 
  transition: box-shadow 0.4s ease;
  transition: border 0.3s ease;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8492a6;
}
.TradingPlansLeftBoxC input::placeholder{
  color: #8492a6;;
}
.TradingPlansLeftBoxC input:focus{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(74, 74, 74);
  transition: box-shadow 0.4s ease;
}
.TradingPlansLeftBoxC input:default{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(23, 23, 23);
  transition: box-shadow 0.5s ease;
}

.TradingPlansLeftBoxD{
  width: 100%;
  height: max-content;
  margin-top: 40px;
}
.TradingPlansLeftBoxD p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(132, 146, 166);
  display: flex;
  justify-content: space-between;
}

.TradingPlansLeftBoxDDiv{
  width: 100%;
  height: 85px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 5px;
}

.TradingPlansLeftBoxDItem{
  width: 100%;
  height: 55px;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color:rgb(51, 51, 51);
  background: #ebf8fc;
  gap: 10px;
  cursor: pointer;
}
.TradingPlansLeftBoxDItem .IoWalletOutline{
  width: 30px;
  height: 30px;
}

.TradingPlansLeftBoxDItem p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color:rgb(51, 51, 51);
  display: flex;
  gap: 10px;
  align-items: center;
}
.TradingPlansLeftBoxDItem p span{
  font-size: 12.8px;
  font-weight: 400;
  line-height: 21.76px;
  color:rgb(132, 146, 166);
}

.TradingPlansRight{
  width: 33%;
  height: max-content;
  border: 1px solid #d4e5eb;
  border-radius: 5px;
  box-shadow: rgba(182, 205, 210, 0.2) 0px 2px 8px 0px;
  padding: 20px;
}

.TradingPlansRight h3{
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(132, 146, 166);
}

.TradingPlansRightBox{
  width: 100%;
  height: max-content;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.TradingPlansRightBoxRow1{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.TradingPlansRightBoxRow2{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.TradingPlansRightBoxRow1L, .TradingPlansRightBoxRow1R{
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TradingPlansRightBoxRow1L h5, .TradingPlansRightBoxRow1R h5{
  font-size: 12.8px;
  font-weight: 400;
  line-height: 21.76px;
  color: rgb(132, 146, 166);
}
.TradingPlansRightBoxRow1L p, .TradingPlansRightBoxRow1R p{
  font-size: 12.8px;
  font-weight: 400;
  line-height: 21.76px;
  color: rgb(14, 65, 82);
}

.TradingPlansRightBoxPay{
  width: 100%;
  height: max-content;
  margin-top: 30px;
  margin-bottom: 10px;
  border-top: 1px solid #e3f6fd;
}

.TradingPlansRightBoxPayTop{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e3f6fd;
  
}
.TradingPlansRightBoxPayTop p{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 21.76px;
  color: rgb(132, 146, 166);
}
.TradingPlansRightBoxPayTop p span{
  font-size: 12.8px;
  font-weight: 400;
  line-height: 21.76px;
  color: rgb(14, 65, 82);
}

.TradingPlansRightBoxPayDown{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.TradingPlansRightBoxPayDown p{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 27.2px;
  color: rgb(132, 146, 166);
}
.TradingPlansRightBoxPayDown p span{
  font-size: 16px;
  font-weight: 600;
  line-height: 27.2px;
  color: rgb(14, 65, 82);
}
.TradingPlansRightBoxPayDown button{
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  background: var(--swift-primary--);
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.TradingPlansRightBoxPayDown button:disabled{
  background: rgb(19, 139, 163);
  cursor: not-allowed;
}





/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Small Desktop  */

@media only screen and (max-width: 1200px){



}

/* End of Media Query Styling for Tablet Device */


/* Media Query Styling for Big Tablet Device */

@media only screen and (max-width: 900px){



}

/* End of Media Query Styling for Tablet Device */
/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 760px){



}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 480px) {

  .TradingPlansBody{
    width: 100%;
    height: max-content;
    padding: 0px 20px;
  }
  .TradingPlansBody h1{
    font-size: 28px;
    font-weight: 400;
    line-height: 36.4px;
    color: #fff;
  }
  
  .TradingPlansContent{
    width: 100%;
    height: max-content;
    padding: 20px 25px;
    display: flex;
    background: #fff;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;
    flex-direction: column;
    gap: 20px;
  }
  
  .TradingPlansLeft{
    width: 100%;
    height: max-content;
    border: 1px solid #d4e5eb;
    border-radius: 5px;
    box-shadow: rgba(182, 205, 210, 0.2) 0px 2px 8px 0px;
    padding: 15px;
  }
  
  .TradingPlansLeftBoxA{
    width: 100%;
    height: max-content;
    position: relative;
    transition: display 2s ease-in-out;
  }
  
  .TradingPlansLeftBoxAMain{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    transition: display 2s ease-in-out;
  }
  .TradingPlansLeftBoxAMain h3{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    color: rgb(132, 146, 166);
  }
  .TradingPlansLeftBoxAMain p{
    transition: 0.4s;
  }
  .TradingPlansLeftBoxAMain .Angle.active{
    transform: rotate(-180deg);
  }
  
  .TradingPlansLeftBoxADrop{
    display: none;
    width: 100%;
    height: max-content;
    margin-top: 10px;
    transition: all 2s ease-in-out;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .TradingPlansLeftBoxADrop.active{
    display: block;
    width: 100%;
    height: max-content;
    margin-top: 10px;
    transition: all 2s ease-in-out;
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    padding: 10px;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .TradingPlansLeftBoxADropItem{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 15px;
  }
  .TradingPlansLeftBoxADropItem h3{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    color: rgb(51, 51, 51);
  }
  .TradingPlansLeftBoxADropItem h3 span{
    color: rgb(132, 146, 166);
  }
  .TradingPlansLeftBoxADropItem:hover{
    background: rgb(233, 233, 233);
  }
  
  .TradingPlansLeftBoxB{
    width: 100%;
    height: max-content;
    margin-top: 60px;
  
  }
  .TradingPlansLeftBoxB p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(132, 146, 166);
  }
  
  .TradingPlansLeftBoxBItem{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .TradingPlansLeftBoxBItem .TradingPlansLeftBoxBAmount{
    padding: 10px 20px;
    background: #ebf8fc;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(39, 52, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  
  .TradingPlansLeftBoxBItem .TradingPlansLeftBoxBAmount:hover{
    background: #8492a6;
  }
  
  .TradingPlansLeftBoxC{
    width: 100%;
    height: max-content;
    margin-top: 40px;
  }
  .TradingPlansLeftBoxC p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(132, 146, 166);
  }
  
  .TradingPlansLeftBoxC input{
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px; 
    transition: box-shadow 0.4s ease;
    transition: border 0.3s ease;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8492a6;
  }
  .TradingPlansLeftBoxC input::placeholder{
    color: #8492a6;;
  }
  .TradingPlansLeftBoxC input:focus{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(74, 74, 74);
    transition: box-shadow 0.4s ease;
  }
  .TradingPlansLeftBoxC input:default{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(23, 23, 23);
    transition: box-shadow 0.5s ease;
  }
  
  .TradingPlansLeftBoxD{
    width: 100%;
    height: max-content;
    margin-top: 40px;
  }
  .TradingPlansLeftBoxD p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(132, 146, 166);
  }
  
  .TradingPlansLeftBoxDDiv{
    width: 100%;
    height: 85px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .TradingPlansLeftBoxDItem{
    width: 100%;
    height: 55px;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    color:rgb(51, 51, 51);
    background: #ebf8fc;
    gap: 10px;
    cursor: pointer;
  }
  .TradingPlansLeftBoxDItem .IoWalletOutline{
    width: 30px;
    height: 30px;
  }
  
  .TradingPlansLeftBoxDItem p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    color:rgb(51, 51, 51);
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .TradingPlansLeftBoxDItem p span{
    font-size: 12.8px;
    font-weight: 400;
    line-height: 21.76px;
    color:rgb(132, 146, 166);
  }
  
  .TradingPlansRight{
    width: 100%;
    height: max-content;
    border: 1px solid #d4e5eb;
    border-radius: 5px;
    box-shadow: rgba(182, 205, 210, 0.2) 0px 2px 8px 0px;
    padding: 20px;
  }
  
  .TradingPlansRight h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(132, 146, 166);
  }
  
  .TradingPlansRightBox{
    width: 100%;
    height: max-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .TradingPlansRightBoxRow1{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .TradingPlansRightBoxRow2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .TradingPlansRightBoxRow1L, .TradingPlansRightBoxRow1R{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .TradingPlansRightBoxRow1L h5, .TradingPlansRightBoxRow1R h5{
    font-size: 12.8px;
    font-weight: 400;
    line-height: 21.76px;
    color: rgb(132, 146, 166);
  }
  .TradingPlansRightBoxRow1L p, .TradingPlansRightBoxRow1R p{
    font-size: 12.8px;
    font-weight: 400;
    line-height: 21.76px;
    color: rgb(14, 65, 82);
  }
  
  .TradingPlansRightBoxPay{
    width: 100%;
    height: max-content;
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid #e3f6fd;
  }
  
  .TradingPlansRightBoxPayTop{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e3f6fd;
    
  }
  .TradingPlansRightBoxPayTop p{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 21.76px;
    color: rgb(132, 146, 166);
  }
  .TradingPlansRightBoxPayTop p span{
    font-size: 12.8px;
    font-weight: 400;
    line-height: 21.76px;
    color: rgb(14, 65, 82);
  }
  
  .TradingPlansRightBoxPayDown{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  .TradingPlansRightBoxPayDown p{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    line-height: 27.2px;
    color: rgb(132, 146, 166);
  }
  .TradingPlansRightBoxPayDown p span{
    font-size: 16px;
    font-weight: 600;
    line-height: 27.2px;
    color: rgb(14, 65, 82);
  }
  .TradingPlansRightBoxPayDown button{
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    outline: none;
    background: var(--swift-primary--);
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

}

/* End of Media Query Styling for Mobile Device */


/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 351px) {


}

/* End of Media Query Styling for Mobile Device */ 