/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */

.MyPlansBody{
  width: 100%;
  height: max-content;
  padding: 0px 20px;
}
.MyPlansBody h1{
  font-size: 28px;
  font-weight: 400;
  line-height: 36.4px;
  color: #fff;
}


.MyPlansContent{
  width: 100%;
  height: max-content;
  padding: 40px 40px;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.MyPlansContentWrap{
  width: 100%;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 60px 25px;
}
.MyPlansContentWrap button{
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  background: var(--swift-primary--);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  
}


/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Small Desktop  */

@media only screen and (max-width: 1200px){



}

/* End of Media Query Styling for Tablet Device */


/* Media Query Styling for Big Tablet Device */

@media only screen and (max-width: 900px){



}

/* End of Media Query Styling for Tablet Device */
/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 760px){



}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 480px) {

  .MyPlansBody{
    width: 100%;
    height: max-content;
    padding: 0px 20px;
  }
  .MyPlansBody h1{
    font-size: 28px;
    font-weight: 400;
    line-height: 36.4px;
    color: #fff;
  }
  
  
  .MyPlansContent{
    width: 100%;
    height: max-content;
    padding: 20px 20px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .MyPlansContentWrap{
    width: 100%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 60px 20px;
  }
  .MyPlansContentWrap button{
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background: var(--swift-primary--);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    
  }

}

/* End of Media Query Styling for Mobile Device */


/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 351px) {


}

/* End of Media Query Styling for Mobile Device */ 