/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */

.DepositBody{
  width: 100%;
  height: max-content;
  padding: 0 20px;
}

.DepositBody h1{
 font-size: 28px;
 font-weight: 400;
 line-height: 36.4px;
 color: #fff;
}

.DepositContent{
  width: 100%;
  height: max-content;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.DepositContentLeft{
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.DepositContentLeftTop{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.DepositContentLeftTop h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: rgb(60, 72, 88);
}
.DepositContentLeftTop input{
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px; 
  transition: box-shadow 0.4s ease;
  transition: border 0.3s ease;
  outline: none;
  
}
.DepositContentLeftTop input:focus{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(74, 74, 74);
  transition: box-shadow 0.4s ease;
}
.DepositContentLeftTop input:default{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(23, 23, 23);
  transition: box-shadow 0.5s ease;
}

.DepositContentLeftDown{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10%;
}
.DepositContentLeftDown h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: rgb(60, 72, 88);
}

.DepositContentLeftDownInput{
  width: 320px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border: 1px solid var(--swift-secondary--);
  cursor: pointer;
  font-size: 16px;
  color: rgb(132, 146, 166);
}
.DepositContentLeftDownInput input{
  cursor: pointer;
}
.DepositContentLeftDown button{
  width: 230px;
  height: 60px;
  background: var(--swift-primary--);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.DepositContentLeftDown button:hover{
  background: #19627a;
}

.DepositContentRight{
  width: 30%;
  height: 60%;
  margin-top: 20px;
  background: #fff;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
}

.DepositContentRightA{
  width: 100%;
  height: 70%;
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(60, 72, 88);
}

.DepositContentRightABreak{
  display: flex;
  flex-direction: column;
}
.DepositContentRightABreak span{
  font-size: 14px;
  font-weight: 400;
  color: rgb(132, 146, 166);
}

.DepositContentRightB{
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  color: rgb(162, 172, 187);
  border-top: 1px solid var(--swift-secondary--);
  display: flex;
  align-items: center;
  height: 40%;
  
}
.DepositContentRightB p{
  cursor: pointer;
}


/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Small Desktop  */

@media only screen and (max-width: 1200px){



}

/* End of Media Query Styling for Tablet Device */


/* Media Query Styling for Big Tablet Device */

@media only screen and (max-width: 900px){



}

/* End of Media Query Styling for Tablet Device */
/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 760px){
  .DepositContentLeftDownInput{
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid var(--swift-secondary--);
    cursor: pointer;
    font-size: 16px;
    color: rgb(132, 146, 166);
  }


}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 480px) {

  .DepositBody{
    width: 100%;
    height: max-content;
    padding: 0 20px;
  }
  
  .DepositBody h1{
   font-size: 28px;
   font-weight: 400;
   line-height: 36.4px;
   color: #fff;
  }
  
  .DepositContent{
    width: 100%;
    height: max-content;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .DepositContentLeft{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .DepositContentLeftTop{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .DepositContentLeftTop h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: rgb(60, 72, 88);
  }
  .DepositContentLeftTop input{
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px; 
    transition: box-shadow 0.4s ease;
    transition: border 0.3s ease;
    outline: none;
    
  }
  .DepositContentLeftTop input:focus{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(74, 74, 74);
    transition: box-shadow 0.4s ease;
  }
  .DepositContentLeftTop input:default{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(23, 23, 23);
    transition: box-shadow 0.5s ease;
  }
  
  .DepositContentLeftDown{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .DepositContentLeftDown h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: rgb(60, 72, 88);
  }
  
  .DepositContentLeftDownInput{
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid var(--swift-secondary--);
    cursor: pointer;
    font-size: 16px;
    color: rgb(132, 146, 166);
  }
  .DepositContentLeftDownInput input{
    cursor: pointer;
  }
  .DepositContentLeftDown button{
    width: 230px;
    height: 60px;
    background: var(--swift-primary--);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .DepositContentLeftDown button:hover{
    background: #19627a;
  }
  
  .DepositContentRight{
    width: 100%;
    height: max-content;
    margin-top: 20px;
    background: #fff;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
  }
  
  .DepositContentRightA{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(60, 72, 88);
  }
  
  .DepositContentRightABreak{
    display: flex;
    flex-direction: column;
  }
  .DepositContentRightABreak span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(132, 146, 166);
  }
  
  .DepositContentRightB{
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(162, 172, 187);
    border-top: 1px solid var(--swift-secondary--);
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
  }
  .DepositContentRightB p{
    cursor: pointer;
  }

}

/* End of Media Query Styling for Mobile Device */


/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 379px) {

  .DepositBody{
    width: 100%;
    height: max-content;
    padding: 0 20px;
  }
  
  .DepositBody h1{
   font-size: 28px;
   font-weight: 400;
   line-height: 36.4px;
   color: #fff;
  }
  
  .DepositContent{
    width: 100%;
    height: max-content;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .DepositContentLeft{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .DepositContentLeftTop{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .DepositContentLeftTop h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: rgb(60, 72, 88);
  }
  .DepositContentLeftTop input{
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px; 
    transition: box-shadow 0.4s ease;
    transition: border 0.3s ease;
    outline: none;
    
  }
  .DepositContentLeftTop input:focus{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(74, 74, 74);
    transition: box-shadow 0.4s ease;
  }
  .DepositContentLeftTop input:default{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(23, 23, 23);
    transition: box-shadow 0.5s ease;
  }
  
  .DepositContentLeftDown{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
  }
  .DepositContentLeftDown h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: rgb(60, 72, 88);
  }
  
  .DepositContentLeftDownInput{
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid var(--swift-secondary--);
    cursor: pointer;
    font-size: 16px;
    color: rgb(132, 146, 166);
  }
  .DepositContentLeftDownInput input{
    cursor: pointer;
  }
  .DepositContentLeftDown button{
    width: 230px;
    height: 60px;
    background: var(--swift-primary--);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .DepositContentLeftDown button:hover{
    background: #19627a;
  }
  
  .DepositContentRight{
    width: 100%;
    height: max-content;
    margin-top: 20px;
    background: #fff;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
  }
  
  .DepositContentRightA{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(60, 72, 88);
  }
  
  .DepositContentRightABreak{
    display: flex;
    flex-direction: column;
  }
  .DepositContentRightABreak span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(132, 146, 166);
  }
  
  .DepositContentRightB{
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(162, 172, 187);
    border-top: 1px solid var(--swift-secondary--);
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
  }
  .DepositContentRightB p{
    cursor: pointer;
  }

}

/* End of Media Query Styling for Mobile Device */ 