/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */

.DepPaymentBody{
  width: 100%;
  height: max-content;
  padding: 0 20px;
  position: relative;
}

.DepPaymentBody h1{
 font-size: 28px;
 font-weight: 400;
 line-height: 36.4px;
 color: #fff;
}

.DepPaymentContent{
  width: 100%;
  height: max-content;
  background: #fff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

.DepPaymentContentWrap{
  width: 60%;
  height: 85%;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.DepPaymentContentA{
  width: 100%;
  height: 40px;
  background: #ffeecc;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  color: rgb(147, 111, 29);
}
.DepPaymentContentA div{
  width: max-content;
  height: 25px;
  background: #ffab00;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 11.2px;
  font-weight: 700;
  line-height: 11.2px;
  color: #fff;
}

.DepPaymentContentB{
  width: max-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: rgb(60, 72, 88);
  padding-left: 20px;
  margin-top: 10px;
}

.DepPaymentContentC{
  width: 100%;
  height: max-content;
  margin-top: 20px;
}
.DepPaymentContentC p{
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: rgb(60, 72, 88);
}

.DepPaymentContentCTopReferUsDivBox{
  width: 100%;
  height: 45px;
  display: flex;
  margin-top: 5px;
}
.DepPaymentContentCTopReferUsDivBox input{
  width: 87%;
  height: 100%;
  border: 1px solid rgb(216, 216, 216);
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8492a6;
  background: #ebf8fc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: box-shadow 0.4s ease;
  transition: border 0.3s ease;
}
.DepPaymentContentCTopReferUsDivBox input:focus{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(219, 209, 209);
  transition: box-shadow 0.4s ease;
  
}

.DepPaymentContentCTopReferUsDivBoxCopy{
  width: 12%;
  height: 50px;
  background: #fff;
  color: #ebf8fc;
  border: 1px solid #ebf8fc;
  /* border-left: 0px; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.DepPaymentContentCTopReferUsDivBoxCopy:hover{
  background: #ebf8fc;
  color: var(--swift-primary--);
}

.DepPaymentContentC h5{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 21.76px;
  color: rgb(132, 146, 166);
  margin-top: 10px;
}
.DepPaymentContentC h5 span{
  display: flex;
  align-items: center;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 21.76px;
  color: rgb(132, 146, 166);
}

.DepPaymentContentD{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.DepPaymentContentD p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(132, 146, 166);
}

.DepPaymentContentDUpload{
  width: 65%;
  height: 50px;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.DepPaymentContentDUpload input{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.DepPaymentContentD button{
  padding: 10px 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  background: var(--swift-primary--);
  border: none;
  outline: none;
  cursor: pointer;
  width: max-content;
  border-radius: 5px;
}

.SuccessPaid {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(16, 0, 0, 0.411);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PayCon {
  width: 40%;
  height: 40%;
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PayCon h3{
  font-size: 20px;
  font-family: 'poppins';
  font-weight: 500;
  margin-bottom: 10px;
}





/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Small Desktop  */

@media only screen and (max-width: 1200px){



}

/* End of Media Query Styling for Tablet Device */


/* Media Query Styling for Big Tablet Device */

@media only screen and (max-width: 900px){



}

/* End of Media Query Styling for Tablet Device */
/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 760px){

  .PayCon{
    width: 90%;
    font-size: 15px;
  }


}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 480px) {

  .PayCon{
    width: 90%;
  }

  .PayCon h3{
    font-size: 17px;
  }

  .DepPaymentBody{
    width: 100%;
    height: max-content;
    padding: 0 10px;
  }
  
  .DepPaymentBody h1{
   font-size: 28px;
   font-weight: 400;
   line-height: 36.4px;
   color: #fff;
  }
  
  .DepPaymentContent{
    width: 100%;
    height: max-content;
    background: #fff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
  }
  
  .DepPaymentContentWrap{
    width: 90%;
    height: 85%;
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .DepPaymentContentA{
    width: 100%;
    height: 40px;
    background: #ffeecc;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(147, 111, 29);
  }
  .DepPaymentContentA div{
    width: max-content;
    height: 25px;
    background: #ffab00;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 11.2px;
    font-weight: 700;
    line-height: 11.2px;
    color: #fff;
  }
  
  .DepPaymentContentB{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    color: rgb(60, 72, 88);
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .DepPaymentContentC{
    width: 100%;
    height: max-content;
    margin-top: 20px;
  }
  .DepPaymentContentC p{
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    color: rgb(60, 72, 88);
  }
  
  .DepPaymentContentCTopReferUsDivBox{
    width: 100%;
    height: 45px;
    display: flex;
    margin-top: 5px;
  }
  .DepPaymentContentCTopReferUsDivBox input{
    width: 87%;
    height: 100%;
    border: 1px solid rgb(216, 216, 216);
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8492a6;
    background: #ebf8fc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: box-shadow 0.4s ease;
    transition: border 0.3s ease;
  }
  .DepPaymentContentCTopReferUsDivBox input:focus{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(219, 209, 209);
    transition: box-shadow 0.4s ease;
    
  }
  
  .DepPaymentContentCTopReferUsDivBoxCopy{
    width: 12%;
    height: 50px;
    background: #fff;
    color: #ebf8fc;
    border: 1px solid #ebf8fc;
    /* border-left: 0px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .DepPaymentContentCTopReferUsDivBoxCopy:hover{
    background: #ebf8fc;
    color: var(--swift-primary--);
  }
  
  .DepPaymentContentC h5{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12.8px;
    font-weight: 700;
    line-height: 21.76px;
    color: rgb(132, 146, 166);
    margin-top: 10px;
  }
  .DepPaymentContentC h5 span{
    display: flex;
    align-items: center;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 21.76px;
    color: rgb(132, 146, 166);
  }
  
  .DepPaymentContentD{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .DepPaymentContentD p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(132, 146, 166);
  }
  
  .DepPaymentContentDUpload{
    width: 65%;
    height: 50px;
    border: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .DepPaymentContentDUpload input{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .DepPaymentContentD button{
    padding: 15px 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    background: var(--swift-primary--);
    border: none;
    outline: none;
    cursor: pointer;
    width: max-content;
    border-radius: 5px;
  }
  

}

/* End of Media Query Styling for Mobile Device */


/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 351px) {

  .PayCon{
    width: 90%;
  }

  .PayCon h3{
    font-size: 17px;
  }

}

/* End of Media Query Styling for Mobile Device */ 