/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */

.DashboardBody {
  width: 100%;
  height: max-content;
  background-color: var(--swift-secondary--);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.DashboardBody::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  height: 430px;
  background-color: var(--swift-primary--);
  border-bottom-left-radius: 2.5rem;
}

.DashboardWrapper{
  width: 91%;
  height: max-content;
  display: flex;
  margin-bottom: 20px;
}

.DashboardWrapper.active{
  width: 100%;
  height: max-content;
  display: flex;
  margin-bottom: 20px;
}

.DashboardNav{
  width: 20%;
  height: max-content;
}
.DashboardNav.active{
  width: 20%;
  height: max-content;
  display: none;
}

.DashboardNavWrapper{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DashboardNavLogo{
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.DashboardNavLogo img{
  width: 50px;
  height: 45px;
}

.DashboardNavLogo .DashboardNavLogoMenuFill{
  width: 30px;
  height: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.DashboardNavAccountView{
  width: 100%;
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0 70px 10px;
}

.DashboardNavAccountViewPfp{
  width: 85px;
  height: 85px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  padding-top: 5px;
}
.DashboardNavAccountViewPfp .HiMiniUser{
  width: 80px;
  height: 80px;
  color: var(--swift-primary--);
}

.DashboardNavAccountViewPfp:hover{
  background: var(--swift-primary-two--);
}

.DashboardNavAccountViewInitials{
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.DashboardNavAccountViewInitials h2{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}
.DashboardNavAccountViewInitials p{
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  color: #fff;
}

.DashboardNavAccountViewBalance{
  width: 100px;
  height: 38px;
  background: #fff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  /* transition: height 0.3s ease-out; */
}

.DashboardNavAccountViewBalance:hover{
  transform: scale(1.05);
}


.DashboardNavLinks{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding-left: 10px;
}

.DashboardNavLinksRow1,.DashboardNavLinksRow2,.DashboardNavLinksRow3,.DashboardNavLinksRow4,.DashboardNavLinksRow5{
  width: 100%;
  height: 135px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.DashboardNavLinksItem{
  width: 43%;
  height: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  text-decoration: none;
  color: var(--swift-secondary-big-text--);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  transition: all 0.2s ease-in-out;
}
.DashboardNavLinksItem.current {
  background: var(--swift-primary--);
}

.DashboardNavLinksItem:hover{
  color: var(--swift-primary--);
  transform: scale(1.05);
}


.DashboardNavLinksItem.active{
  width: 43%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  background: var(--swift-primary--);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  transform: scale(1);
}

.DashboardNavLinksItem .DashboardNavlinksIcons{
  width: 50px;
  height: 30px;
}

.DashboardNavContact{
  width: 85%;
  height: 200px;
  background: var(--swift-primary--);
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.DashboardNavContactText{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.DashboardNavContact h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}
.DashboardNavContact p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27.7px;
  color: #fff;
}

.DashboardNavContactBtn{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.DashboardNavContactBtn button{
  width: 100%;
  height: 43px;
  border-radius: 40px;
  color: var(--swift-primary--);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border: none;
  cursor: pointer;
  background: #fff;
  transition: all 0.3s ease;
}
.DashboardNavContactBtn button:hover{
  background: #ededed;
}
.DashboardNavContactBtn button:active{
  transform: scale(0.98);
}

.DashboardMain{
  width: 100%;
  height: max-content;
  padding-left: 30px;
}
.DashboardMain.active{
  width: 100%;
  height: max-content;
  padding-left: 30px;
  padding-right: 30px;
}

.DashboardMainHeader{
  width: 100%;
  height: 90px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

.DashboardMainHeaderBox{
  width: 200px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DashboardMainHeaderBoxHambuger{
  width: 30px;
  height: 30px;
  color: #fff;
}
.DashboardMainHeaderBoxHambuger .MdOutlineMenu{
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.DashboardMainHeaderBoxAccount{
  width: 140px;
  height: 38px;
  display: flex;
  align-items: center;
  background: #0d3947;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.DashboardMainHeaderBoxAccount div{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DashboardMainHeaderBoxAccount div .HiMiniUser{
  width: 90%;
  height: 90%;
}

.DashboardMainHeaderBoxAccount p{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 23.8px;
}

.DashboardMainHeaderUserAccDiv{
  width: 170px;
  height: 160px;
  background: #fff;
  position: absolute;
  top: 78px;
  right: -20px;
  border-radius: 7px;
}

.DashboardMainHeaderUserAccDivWrap{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.DashboardMainHeaderUserAccDivWrap::before {
  content: "";
  position: absolute;
  top: -9px;
  right: 20%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  transform: translate(50%, -50%);
}

.DashboardMainHeaderUserAccDivPfp{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d7e0e3;
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.DashboardMainHeaderUserAccDivPfp:hover{
  color: #3d9cb9;
}
.DashboardMainHeaderUserAccDivPfp span{
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.DashboardMainHeaderUserAccDivLogout{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: red;
  border-top: 1px solid #d7e0e3;
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.DashboardMainHeaderUserAccDivLogout:hover{
  color: #d20000;
}

.DashboardMainHeaderUserAccDivLogout span{
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.DashboardMainContent{
  width: 100%;
  height: max-content;
  margin-top: 20px;
}

.DashboardMainFooter{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: end;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(132, 146, 166);
  line-height: 23.8px;
  background: var(--swift-secondary--);
}

/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Small Desktop  */

@media only screen and (max-width: 1200px){



}

/* End of Media Query Styling for Tablet Device */


/* Media Query Styling for Big Tablet Device */

@media only screen and (max-width: 900px){



}

/* End of Media Query Styling for Tablet Device */
/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 760px){



}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 480px) {
  .DashboardBody {
    width: 100%;
    height: max-content;
    background-color: var(--swift-secondary--);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  
  .DashboardBody::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 430px;
    background-color: var(--swift-primary--);
    border-bottom-left-radius: 2.5rem;
  }
  
  .DashboardWrapper{
    width: 100%;
    height: max-content;
    display: flex;
    margin-bottom: 20px;
  }
  
  .DashboardNav{
    width: 20%;
    height: max-content;
    display: none;
  }
  .DashboardNav.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    overflow-y: scroll;
    background-color: var(--swift-secondary--);
    margin-left: 0;
    z-index: 1040;
    -webkit-box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    display: block;
  }
  .DashboardNav.active::-webkit-scrollbar{
    
    display: none;
  }
  .DashboardNav.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 430px;
    background-color: var(--swift-primary--);
    border-bottom-left-radius: 2.5rem;
  }
  /* .DashboardNav.active{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: calc((100% - 250px) / 2);
    padding-right: calc((100% - 250px) / 2);
    overflow-y: scroll;
    background: #fff;
    margin-left: 0;
    z-index: 1040;
    -webkit-box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
  } */
  
  .DashboardNavWrapper{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .DashboardNavLogo{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    justify-content: space-between;
    padding-right: 70px;
  }
  .DashboardNavLogo img{
    width: 65px;
    height: 25px;
  }
  .DashboardNavLogo .DashboardNavLogoMenuFill{
    width: 30px;
    height: 25px;
    color: #fff;
    cursor: pointer;
    display: block;
  }
  
  .DashboardNavAccountView{
    width: 100%;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 70px 10px;
  }
  
  .DashboardNavAccountViewPfp{
    width: 85px;
    height: 85px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    padding-top: 5px;
  }
  .DashboardNavAccountViewPfp .HiMiniUser{
    width: 80px;
    height: 80px;
    color: var(--swift-primary--);
  }
  
  .DashboardNavAccountViewPfp:hover{
    background: var(--swift-primary-two--);
  }
  
  .DashboardNavAccountViewInitials{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .DashboardNavAccountViewInitials h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
  }
  .DashboardNavAccountViewInitials p{
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #fff;
  }
  
  .DashboardNavAccountViewBalance{
    width: 100px;
    height: 38px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    /* transition: height 0.3s ease-out; */
  }
  
  .DashboardNavAccountViewBalance:hover{
    transform: scale(1.05);
  }
  
  
  .DashboardNavLinks{
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-left: 10px;
  }
  
  .DashboardNavLinksRow1,.DashboardNavLinksRow2,.DashboardNavLinksRow3,.DashboardNavLinksRow4,.DashboardNavLinksRow5{
    width: 100%;
    height: 135px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .DashboardNavLinksItem{
    width: 43%;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
    color: var(--swift-secondary-big-text--);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    transition: all 0.2s ease-in-out;
  }
  .DashboardNavLinksItem:hover{
    color: var(--swift-primary--);
    transform: scale(1.05);
  }
  
  
  .DashboardNavLinksItem.active{
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    background: var(--swift-primary--);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    transform: scale(1);
  }
  
  .DashboardNavLinksItem .DashboardNavlinksIcons{
    width: 50px;
    height: 30px;
  }
  
  .DashboardNavContact{
    width: 65%;
    height: 200px;
    background: var(--swift-primary--);
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .DashboardNavContactText{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  .DashboardNavContact h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
  }
  .DashboardNavContact p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.7px;
    color: #fff;
  }
  
  .DashboardNavContactBtn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .DashboardNavContactBtn button{
    width: 100%;
    height: 43px;
    border-radius: 40px;
    color: var(--swift-primary--);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    border: none;
    cursor: pointer;
    background: #fff;
    transition: all 0.3s ease;
  }
  .DashboardNavContactBtn button:hover{
    background: #ededed;
  }
  .DashboardNavContactBtn button:active{
    transform: scale(0.98);
  }
  
  .DashboardMain{
    width: 100%;
    height: max-content;
    padding-left: 0px;
  }
  
  .DashboardMainHeader{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
  }
  
  .DashboardMainHeaderBox{
    width: 100px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
  }
  
  .DashboardMainHeaderBoxHambuger{
    width: 30px;
    height: 30px;
    color: #fff;
  }
  .DashboardMainHeaderBoxHambuger .MdOutlineMenu{
    width: 25px;
    height: 30px;
    cursor: pointer;
  }
  
  .DashboardMainHeaderBoxAccount{
    width: max-content;
    height: 38px;
    display: flex;
    align-items: center;
    background: #0d3947;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  
  .DashboardMainHeaderBoxAccount div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
  }
  .DashboardMainHeaderBoxAccount div .HiMiniUser{
    width: 90%;
    height: 90%;
  }
  
  .DashboardMainHeaderBoxAccount p{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.8px;
    display: none;
  }
  
  .DashboardMainHeaderUserAccDiv{
    width: 96%;
    height: 160px;
    background: #fff;
    position: absolute;
    top: 78px;
    right: 10px;
    border-radius: 7px;
  }
  
  .DashboardMainHeaderUserAccDivWrap{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .DashboardMainHeaderUserAccDivWrap::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 6%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    transform: translate(50%, -50%);
  }
  
  .DashboardMainHeaderUserAccDivPfp{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-top: 1px solid #d7e0e3;
    cursor: pointer;
    transition: color 0.3s ease-in;
  }
  .DashboardMainHeaderUserAccDivPfp:hover{
    color: #3d9cb9;
  }
  .DashboardMainHeaderUserAccDivPfp span{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .DashboardMainHeaderUserAccDivLogout{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: red;
    border-top: 1px solid #d7e0e3;
    cursor: pointer;
    transition: color 0.3s ease-in;
  }
  .DashboardMainHeaderUserAccDivLogout:hover{
    color: #d20000;
  }
  
  .DashboardMainHeaderUserAccDivLogout span{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .DashboardMainContent{
    width: 100%;
    height: max-content;
    margin-top: 5px;
  }
  
  .DashboardMainFooter{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(132, 146, 166);
    line-height: 23.8px;
  background: var(--swift-secondary--);

  }
}

/* End of Media Query Styling for Mobile Device */


/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 379px) {

  .DashboardBody {
    width: 100%;
    height: max-content;
    background-color: var(--swift-secondary--);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  
  .DashboardBody::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 430px;
    background-color: var(--swift-primary--);
    border-bottom-left-radius: 2.5rem;
  }
  
  .DashboardWrapper{
    width: 100%;
    height: max-content;
    display: flex;
    margin-bottom: 20px;
  }
  
  .DashboardNav{
    width: 20%;
    height: max-content;
    display: none;
  }
  .DashboardNav.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    overflow-y: scroll;
    background-color: var(--swift-secondary--);
    margin-left: 0;
    z-index: 1040;
    -webkit-box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    display: block;
  }
  .DashboardNav.active::-webkit-scrollbar{
    
    display: none;
  }
  .DashboardNav.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 430px;
    background-color: var(--swift-primary--);
    border-bottom-left-radius: 2.5rem;
  }
  /* .DashboardNav.active{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: calc((100% - 250px) / 2);
    padding-right: calc((100% - 250px) / 2);
    overflow-y: scroll;
    background: #fff;
    margin-left: 0;
    z-index: 1040;
    -webkit-box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
  } */
  
  .DashboardNavWrapper{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .DashboardNavLogo{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    justify-content: space-between;
    padding-right: 70px;
  }
  .DashboardNavLogo img{
    width: 65px;
    height: 25px;
  }
  .DashboardNavLogo .DashboardNavLogoMenuFill{
    width: 30px;
    height: 25px;
    color: #fff;
    cursor: pointer;
    display: block;
  }
  
  .DashboardNavAccountView{
    width: 100%;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 70px 10px;
  }
  
  .DashboardNavAccountViewPfp{
    width: 85px;
    height: 85px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    padding-top: 5px;
  }
  .DashboardNavAccountViewPfp .HiMiniUser{
    width: 80px;
    height: 80px;
    color: var(--swift-primary--);
  }
  
  .DashboardNavAccountViewPfp:hover{
    background: var(--swift-primary-two--);
  }
  
  .DashboardNavAccountViewInitials{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .DashboardNavAccountViewInitials h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
  }
  .DashboardNavAccountViewInitials p{
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #fff;
  }
  
  .DashboardNavAccountViewBalance{
    width: 100px;
    height: 38px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    /* transition: height 0.3s ease-out; */
  }
  
  .DashboardNavAccountViewBalance:hover{
    transform: scale(1.05);
  }
  
  
  .DashboardNavLinks{
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-left: 10px;
  }
  
  .DashboardNavLinksRow1,.DashboardNavLinksRow2,.DashboardNavLinksRow3,.DashboardNavLinksRow4,.DashboardNavLinksRow5{
    width: 100%;
    height: 135px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .DashboardNavLinksItem{
    width: 43%;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
    color: var(--swift-secondary-big-text--);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    transition: all 0.2s ease-in-out;
  }
  .DashboardNavLinksItem:hover{
    color: var(--swift-primary--);
    transform: scale(1.05);
  }
  
  
  .DashboardNavLinksItem.active{
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    background: var(--swift-primary--);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    transform: scale(1);
  }
  
  .DashboardNavLinksItem .DashboardNavlinksIcons{
    width: 50px;
    height: 30px;
  }
  
  .DashboardNavContact{
    width: 65%;
    height: 200px;
    background: var(--swift-primary--);
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .DashboardNavContactText{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  .DashboardNavContact h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
  }
  .DashboardNavContact p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.7px;
    color: #fff;
  }
  
  .DashboardNavContactBtn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .DashboardNavContactBtn button{
    width: 100%;
    height: 43px;
    border-radius: 40px;
    color: var(--swift-primary--);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    border: none;
    cursor: pointer;
    background: #fff;
    transition: all 0.3s ease;
  }
  .DashboardNavContactBtn button:hover{
    background: #ededed;
  }
  .DashboardNavContactBtn button:active{
    transform: scale(0.98);
  }
  
  .DashboardMain{
    width: 100%;
    height: max-content;
    padding-left: 0px;
  }
  
  .DashboardMainHeader{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
  }
  
  .DashboardMainHeaderBox{
    width: 100px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
  }
  
  .DashboardMainHeaderBoxHambuger{
    width: 30px;
    height: 30px;
    color: #fff;
  }
  .DashboardMainHeaderBoxHambuger .MdOutlineMenu{
    width: 25px;
    height: 30px;
    cursor: pointer;
  }
  
  .DashboardMainHeaderBoxAccount{
    width: max-content;
    height: 38px;
    display: flex;
    align-items: center;
    background: #0d3947;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  
  .DashboardMainHeaderBoxAccount div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
  }
  .DashboardMainHeaderBoxAccount div .HiMiniUser{
    width: 90%;
    height: 90%;
  }
  
  .DashboardMainHeaderBoxAccount p{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.8px;
    display: none;
  }
  
  .DashboardMainHeaderUserAccDiv{
    width: 96%;
    height: 160px;
    background: #fff;
    position: absolute;
    top: 78px;
    right: 10px;
    border-radius: 7px;
  }
  
  .DashboardMainHeaderUserAccDivWrap{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .DashboardMainHeaderUserAccDivWrap::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 6%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    transform: translate(50%, -50%);
  }
  
  .DashboardMainHeaderUserAccDivPfp{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-top: 1px solid #d7e0e3;
    cursor: pointer;
    transition: color 0.3s ease-in;
  }
  .DashboardMainHeaderUserAccDivPfp:hover{
    color: #3d9cb9;
  }
  .DashboardMainHeaderUserAccDivPfp span{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .DashboardMainHeaderUserAccDivLogout{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: red;
    border-top: 1px solid #d7e0e3;
    cursor: pointer;
    transition: color 0.3s ease-in;
  }
  .DashboardMainHeaderUserAccDivLogout:hover{
    color: #d20000;
  }
  
  .DashboardMainHeaderUserAccDivLogout span{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .DashboardMainContent{
    width: 100%;
    height: max-content;
    margin-top: 5px;
  }
  
  .DashboardMainFooter{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(132, 146, 166);
    line-height: 23.8px;
  background: var(--swift-secondary--);

  }

}

/* End of Media Query Styling for Mobile Device */ 